<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
         <meta charset="utf-8">
        <title>Gerenciamento de Funcionários</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
         <div class="container">
             <h1>Gerenciamento de Funcionários</h1>
         <hr>
         <h2>Atualizar</h2>
         <form action="#" th:action="@{/salvarFuncionario}" th:object="${funcionario}" method="POST">
         <input type="text" th:field="*{nome}" placeholder="Insira o nome" class="form-control mb-4 col-4">
         <input type="text" th:field="*{cpf}" placeholder="Insira o CPF" class="form-control mb-4 col-4">
         <input type="text" th:field="*{email}" placeholder="Insira o Email" class="form-control mb-4 col-4">
         <input type="text" th:field="*{telefone}" placeholder="Insira o Telefone" class="form-control mb-4 col-4">
         <input type="text" th:field="*{salario}" placeholder="Insira o Salário" class="form-control mb-4 col-4">
         <input type="hidden" th:field="*{id}" />
         <button type="submit" class="btn btn-info col-2"> Atualizar</button>
         </form>
         <hr>
         <a th:href="@{/}"> Retornar</a>
         </div>
    </body>
</html>