<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
     <meta charset="utf-8">
     <title>Gerenciamento de Funcionários</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     </head>
     <body>
     <div class="container my-2">
     <h1>Lista de Funcionários</h1>
     <a th:href="@{/criarFuncionarioForm}" class="btn btn-primary btn-sm mb-3"> Adicionar </a>
     <table border="1" class="table table-striped table-responsive-md">
     <thead>
     <tr>
     <th>ID
     <th>Nome
     <th>CPF
     <th>Email
     <th>Telefone
     <th>Salário
     <th>Operações
     </tr>
     </thead>
     <tbody>
     <tr th:each="func : ${listarFuncionarios}">
     <td th:text="${func.id}">
     <td th:text="${func.nome}">
     <td th:text="${func.cpf}">
     <td th:text="${func.email}">
     <td th:text="${func.telefone}">
     <td th:text="${func.salario}">
     <td> <a th:href="@{/atualizarFuncionarioForm/{id}(id=${func.id})}" class="btn btn-primary">Atualizar</a>
     <a th:href="@{/deletarFuncionario/{id}(id=${func.id})}" class="btn btn-danger">Excluir</a>
     </td>
     </tr>
     </tbody>
     </table>
     </div>
     </body>
    </html>